################################################################################
# .gitignore file
################################################################################

/built
/.tempChromeProfileForDebug
/node_modules
