################################################################################
# .gitignore file
################################################################################

/built
/.tempChromeProfileForDebug
/node_modules
npm-debug.log.**
