################################################################################
# .gitignore file
################################################################################

.temp/
/built
/.tempChromeProfileForDebug
/node_modules
npm-debug.log.**
npm-debug.log
.DS_Store